rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth.uid != null;
    }

    function isSignedInUser(userID) {
      return signedIn() && userID == request.auth.uid;
    }

    match /users/{userID} {
      allow read: if true;
      allow write: if isSignedInUser(userID);
    }

    match /projects/{projectID} {
      allow read: if signedIn() && resource.data.members[request.auth.uid] in ['projectOwner', 'projectWriter', 'projectReader'];
      allow update: if signedIn() && resource.data.members[request.auth.uid] in ['projectOwner', 'projectWriter'];
      allow delete: if signedIn() && resource.data.members[request.auth.uid] in ['projectOwner'];
      allow create: if signedIn();

  		match /tasks/{taskID} {
        allow read: if getProject(projectID).ownerId == request.auth.uid;
        allow write: if getProject(projectID).ownerId == request.auth.uid;
      }
    }   
  }
}