rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth.uid != null;
    }

    function isSignedInUser(userID) {
      return signedIn() && userID == request.auth.uid;
    }

    function isMember(rsc) {
      return request.auth.uid in rsc.data.members.keys();
    }

    function getRole(rsc) {
      return rsc.data.members[request.auth.uid];
    }

    function isOneOfRoles(rsc, array) {
      return signedIn() && isMember(rsc) && (getRole(rsc) in array);
    }

    function getProject(projectID) {
      return get(/databases/$(database)/documents/projects/$(projectID));
    }

    match /users/{userID} {
      allow read: if true;
      allow write: if isSignedInUser(userID);
    }

    match /projects/{projectID} {
      allow read: if signedIn() && resource.data.members[request.auth.uid] in ['projectOwner', 'projectWriter', 'projectReader'];
      allow update: if signedIn() && resource.data.members[request.auth.uid] in ['projectOwner', 'projectWriter'];
      allow delete: if signedIn() && resource.data.members[request.auth.uid] in ['projectOwner'];
      allow create: if signedIn();

  		match /tasks/{taskID} {
        allow read: if isOneOfRoles(getProject(projectID), ['projectOwner', 'projectWriter', 'projectReader']);
        allow write: if isOneOfRoles(getProject(projectID), ['projectOwner', 'projectWriter']);
      }
    }   
  }
}